#bronze {
    -webkit-box-shadow: 2px 4px 22px 1px #cc633d;
    -moz-box-shadow: 2px 4px 22px 1px #cc633d;
    box-shadow: 2px 4px 22px 1px #cc633d;
  }
  
  #silver {
    -webkit-box-shadow: 2px 4px 22px 1px #7a7979;
    -moz-box-shadow: 2px 4px 22px 1px #7a7979;
    box-shadow: 2px 4px 22px 1px #7a7979;
  }
  
  #gold {
    -webkit-box-shadow: 2px 4px 22px 1px #aa6c39;
    -moz-box-shadow: 2px 4px 22px 1px #aa6c39;
    box-shadow: 2px 4px 22px 1px #aa6c39;
  }
  
  #platinum {
    -webkit-box-shadow: 2px 4px 22px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 4px 22px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 4px 22px 1px rgba(0, 0, 0, 0.75);
  }
  
  #subCard {
    -webkit-box-shadow: 2px 4px 22px -2px #2e008b;
    -moz-box-shadow: 2px 4px 22px -2px #2e008b;
    box-shadow: 2px 4px 22px -2px #2e008b;
  }
  
  .RSPBprogressBar .RSPBprogression {
    background: linear-gradient(45deg, #151f35 30%, #3ba266 90%) !important;
    -webkit-box-shadow: 2px 4px 22px -1px #2e008b;
    -moz-box-shadow: 2px 4px 22px -1px #2e008b;
    box-shadow: 2px 4px 22px -2px #2e008b;
  }
  
  .MuiTooltip-tooltip {
    background-color: transparent !important;
  }
  
  .MuiTypography-h5 {
    font-size: 1.1rem !important;
  }
  
  #textPortal {
    background: linear-gradient(45deg, #2e008b 30%, #bb16a3 90%);
    -webkit-box-shadow: 2px 4px 22px -1px #2e008b;
    -moz-box-shadow: 2px 4px 22px -1px #2e008b;
    box-shadow: 2px 4px 22px -2px #2e008b;
    color: white;
    border-radius: 13px 2px 13px 2px;
  }
  